# VSCode
**/.DS_Store
**/bin/**
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/launch.json
!**/.vscode/tasks.json
!**/.vscode/extensions.json

**/.mvn/**
**/mvnw
**/mvnw.cmd
**/target/**

**/gradle/**
**/.gradle/**
**/gradlew
**/gradlew.bat

# Local History for Visual Studio Code
**/.history/**
