<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Specify a feature request</title>
    <meta name="description" content="A demo of a Spring Boot project with Stripe integration" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="checkout.css" />
  </head>
  <body>
    <!-- Display a feature request form -->
    <form id="feature-req-form" th:action="@{/}" th:object="${featureReqForm}" method="POST">
      <!-- [N] -->
      <p><b>Welcome to the Transparent Stripe Integration!</b></p>
      
            <p>Email: <input type="text" th:field="*{email}" placeholder="Email address" required/></p>
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></p>
      <p>Amount: <input type="text" th:field="*{amount}" placeholder="Amount" required/></p>
      <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" style="color: red;"></p>
      <p>Feature Request: <input type="text" th:field="*{featureRequest}" placeholder="Feature Request" required/></p>
      <p th:if="${#fields.hasErrors('featureRequest')}" th:errors="*{featureRequest}" style="color: red;"></p>

      <p><input type="submit"/></p>
      
    </form>
  </body>
</html>